<h1>Push Puzzle</h1>
<div>
  <button>New Puzzle</button>
  <div id="board">
    <table>
      <tbody>
      <% @puzzles.in_groups_of(4).each do |row| %>
        <tr>
        <% row.each do |col| %>
          <td <%= col == 0 ? "class=empty" : ''%>>
            <%= col %>
          </td>
        <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

