// Place all the styles related to the puzzle controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
  font-family: Purisa;
  src: url('fonts/Purisa.ttf') format('truetype');
}

#board {
  table {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
    align: center;
    vertical-align: center;
    border: 4px;
    border-color: green;
    color: midnightblue;
    background-color: rgba(28, 51, 167, 0.72);
    border-spacing: 4px;
    tr {
      align: center;
      vertical-align: center;
      height: 100px;
      td {
        // background-color: darkgreen;
        background-color: grey;
        // color: midnightblue;
        color: rgb(58, 57, 71);
        align: center;
        vertical-align: center;
        text-align: center;
        width: 100px;
        font-size: 48px;
        font-family: Purisa, Bradley Hand ITC, Lucidia Calligraph, Lucidia Handwriting, Fine Hand;
        border-style: outset;
        &.victory {
          background-color: darkgreen;
          color: darkyellow;
        }
        &.empty {
          // background-color: lightgreen;
          // color: lightgreen;
          color: grey;
          border-style: solid;
        }
      }
    }
  }
}
